@import '../colors.less';
@import '../AppCommon.less';

.experimentalAnchor {
	width: 100%;
}

@portDiameter: 16px;

.expNodeDebugView {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 8px;
	overflow: hidden;
	white-space: nowrap;
	position: relative;

	.nodeName {
		font-size: 1.2em;
		margin-bottom: 4px;
		color: @defaultGray;
	}

	.nodeId {
		font-size: 0.75em;
		line-height: 1em;
		margin-bottom: 4px;
		color: @knobValueGray;
	}

	.sectionLabel {
		color: @defaultGray;
	}

	.params {
		margin-bottom: 4px;

		.param {
			display: flex;
			justify-content: space-between;

			&:nth-child(odd) {
				// background-color: @panelGrayDark;
			}

			.paramId {

			}
			.paramValue {

			}
		}

		.paramKnobs {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
		}

		.enumParams {
			display: flex;
			justify-content: center;
			padding: 8px 0;
			flex-wrap: wrap;

			& > * + * {
				margin-top: 8px;
			}
		}
	}

	.ports {
		display: flex;
		margin: 0 -16px;

		.inputPorts, .outputPorts {
			margin-bottom: 4px;
			flex-grow: 1;
	
			.port {
				display: flex;
				align-items: center;
				padding: 4px 0;
				
				&.enabled-false {
					color: @disabledGray;
				}
	
				&:nth-child(odd) {
					// background-color: @panelGrayDark;
				}
	
				.portId {
					margin: 0 4px;
					color: @defaultGray;
					@knobLabelFont();
				}
				.portName {
					margin: 0 4px;
					color: @defaultGray;
					@knobLabelFont();
				}
				.paramValue {
	
				}
				.portDropZone {
					background-color: @panelGray;
					height: @portDiameter;
					width: @portDiameter;
					border-radius: 50%;
					box-shadow: inset 0 0 0px 4px currentColor;

					&.type-audio {
					}

					&.type-midi {
						border-radius: 2px;
					}

					&.type-polyphonic {
						background: linear-gradient(0deg, currentColor 0%, currentColor 20%, transparent 20%, transparent 40%, currentColor 40%, currentColor 60%, transparent 60%, transparent 80%, currentColor 80%, currentColor 100%);
						box-shadow: none;
						border-radius: 2px;
					}
				}
			}
		}
	
		.inputPorts {
			.port {
				justify-content: flex-start;
			}
		}
	
		.outputPorts {
			.port {
				flex-direction: row-reverse;
			}
		}
	}

	.audioWorkletWarning {
		white-space: normal;
		color: @orange;
		border: 2px dashed currentColor;
		border-radius: 8px;
		padding: 8px;
		margin: 8px 0;
	}
}
