@import '../colors.less';
@import '../AppCommon.less';

.experimentalAnchor {
	width: 100%;
}

@portDiameter: 16px;

.expNodeDebugView {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 8px;
	overflow: auto;

	.nodeName {
		font-size: 1.2em;
		margin-bottom: 4px;
	}

	.nodeId {
		font-size: 0.75em;
		line-height: 1em;
		margin-bottom: 4px;
	}

	.params {
		margin-bottom: 4px;

		.param {
			display: flex;
			justify-content: space-between;

			&:nth-child(odd) {
				// background-color: @panelGrayDark;
			}

			.paramId {

			}
			.paramValue {

			}
		}

		.paramKnobs {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
		}
	}

	.audioInputPorts, .audioOutputPorts {
		margin-bottom: 4px;

		.port {
			display: flex;
			align-items: center;

			&:nth-child(odd) {
				// background-color: @panelGrayDark;
			}

			.portId {
				margin: 0 4px;
			}
			.paramValue {

			}
			.portDropZone {
				background-color: currentColor;
				height: @portDiameter;
				width: @portDiameter;
				border-radius: @portDiameter / 2;
			}
		}
	}

	.audioInputPorts {
		.port {
			justify-content: flex-start;
		}
	}

	.audioOutputPorts {
		.port {
			justify-content: flex-end;
		}
	}
}
