@import '../colors.less';
@import '../AppCommon.less';

.knob {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // margin: 12px 8px;
    position: relative;
    font-size: 16px;

    &:hover, &:active {
        filter: brightness(125%);

        .valueBox {
            display: block;
        }
    }
    
    .actualKnobContainer {
        position: relative;

        .actualKnob {
            background-color: none;
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }

        .knobShadow {
            .actualKnob();
            background-color: unset;
            .boxShadow();
            pointer-events: none;
            position: absolute;
            top: 0;
        }

        .mark {
            width: 4px;
            height: 4px;
            margin: auto;
            .saturate & {
                // filter: saturate(300%);
            }
        }

        .arc {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }

    .valueBox {
        background-color: @appBackground;
        position: absolute;
        top: -24px;
        display: none;
        white-space: nowrap;
    }

    .knobLabel {
        font-size: 13px;
        letter-spacing: normal;
        font-weight: 400;
        // text-transform: capitalize;
        // position: absolute;
        // margin: 0 !important;
        // bottom: -14px;
        color: @defaultGray;
        height: 16px;
        width: max-content;
        .smallFont();
        position: relative;
        top: 4px;

        .saturate & {
            filter: saturate(300%);
        }
    }

    .knobValue {
        font-size: 12px;
        letter-spacing: normal;
        font-weight: 400;
        // text-transform: capitalize;
        // position: absolute;
        // margin: 0 !important;
        // bottom: -14px;
        color: hsla(0, 0%, 56%, 1);
        height: 16px;
        width: max-content;
        .smallFont();
        position: relative;
        bottom: 8px;
        display: flex;

        input {
            background-color: @panelGrayDark;
            border: none;
            text-align: center;
            width: 48px;
            padding: 0;
            color: inherit;
            font-size: inherit;
            font-family: inherit;
            word-spacing: inherit;
            text-transform: inherit;
            text-indent: inherit;
            text-shadow: inherit;
            display: inherit;
            -webkit-rtl-ordering: inherit;
            cursor: inherit;
            margin: inherit;
            font: inherit;
            appearance: inherit;
            letter-spacing: inherit;
            writing-mode: inherit;
            text-rendering: inherit;
        }

        .saturate & {
            filter: saturate(300%);
        }
    }

    &.readOnly {
        color: @panelGrayDark;
        pointer-events: none;

        .knobLabel {
            color: @panelGrayLight;
        }
        .knobValue {
            color: @panelGrayLight;
        }
    }
}
