@import '../colors.less';
.knob {
    position: relative;
    width: 32px;
    height: 32px;
    .actualKnob {
        background-color: #41414d;
        border-radius: 50%;
        width: 32px;
        height: 32px;
    }
    .mark {
        width: 4px;
        height: 8px;
        margin: auto;
        .saturate & {
            filter: saturate(200%);
        }
    }
    &.readOnly {
        .actualKnob {
            background-color: #33333b;
        }
        .mark {
            background-color: @darkGreen;
            width: 4px;
            height: 8px;
            margin: auto;
        }
        .label {
            color: @subtleGrayBlackBg;
        }
    }
    .label {
        font-size: 10px;
        letter-spacing: 0;
        font-weight: 100;
        text-transform: lowercase;
        position: relative;
        top: -4px;
        margin: 0 !important;
        .saturate & {
            filter: saturate(200%);
        }
    }
    .arc {
        position: absolute;
        top: 0;
        left: 0;
    }
}
