@import '../colors.less';
.volume {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: @panelGray; // max-width: 256px;
    margin: 8px auto;
    &>* {
        margin: 8px 0;
        margin-left: 16px;
        &:last-child {
            margin-right: 16px;
        }
    }
}
