@import "../colors.less";
.basicInstrument {
    display: inline-flex;
    background-color: @panelGray;
    align-items: center;
    &.isNotPlaying {
        transition: box-shadow 0.3s ease-out;
    }
    &>* {
        margin: 8px 0;
        margin-left: 16px;
        &:last-child {
            margin-right: 16px;
        }
    }
    .oscillatorTypes {
        display: flex;
        svg {
            margin: 8px;
            display: flex;
            height: 1.5em;
            width: 1.5em;
            color: @defaultGray;
            &:hover {
                color: inherit;
            }
        }
        .active svg {
            color: inherit;
        }
    }
}
