@import "../colors.less";
.basicInstrument {
    display: inline-flex;
    background-color: @panelGray;
    margin: 8px 8px 16px 8px;
    align-items: center;
    &.isNotPlaying {
        transition: box-shadow 0.3s ease-out;
    }
    &>* {
        margin: 8px 0;
        margin-left: 16px;
        &:last-child {
            margin-right: 16px;
        }
    }
}
