@import "../AppCommon.less";
@import "../colors.less";

.authModal {
	text-align: left;

	.modalPanel {
		width: 400px;
	}
	
	.content {
		padding: 16px 0;

		& > * + * {
			margin-top: 16px;
		}

		.error {
			color: @red;
		}
	}

	form {

		& > * + * {
			margin-top: 16px;
		}

		.submitRow {
			display: flex;
			justify-content: space-between;
		}

		input {
			color: inherit;
			font-size: inherit;
			font-family: inherit;
			word-spacing: inherit;
			text-transform: inherit;
			text-indent: inherit;
			text-shadow: inherit;
			display: inherit;
			-webkit-rtl-ordering: inherit;
			cursor: inherit;
			// margin: inherit;
			font: inherit;
			appearance: inherit;
			letter-spacing: inherit;
			writing-mode: inherit;
			text-rendering: inherit;
			border: none;
	
			background-color: @panelGrayLight;
			border-radius: @mainBorderRadius;


			// color: #e2e2e2;
			// letter-spacing: initial;
			// background-color: #252525;
			// box-shadow: 0 0 12px hsl(0, 0%, 2%);
			padding: 0 8px;
			min-height: 32px;
			// min-width: 226px;
			// pointer-events: all;

			width: fill;

			&:focus {
				@colorBorder();
			}

			&:disabled {
				color: @panelGray;
			}

			&.button {
				width: auto;

				&:not(:disabled) {
					cursor: pointer;
				}

				&:not(:disabled):hover {
					filter: brightness(1.2);
				}
			}
		}

		button {
			color: inherit;
			font-size: inherit;
			font-family: inherit;
			word-spacing: inherit;
			text-transform: inherit;
			text-indent: inherit;
			text-shadow: inherit;
			display: flex;
			align-items: center;
			-webkit-rtl-ordering: inherit;
			cursor: inherit;
			// margin: inherit;
			font: inherit;
			appearance: inherit;
			letter-spacing: inherit;
			writing-mode: inherit;
			text-rendering: inherit;
			border: none;
			padding: 0 8px;
			min-height: 32px;

			&:not(:disabled):hover {
				cursor: pointer;
				filter: brightness(1.2);
			}

			&:disabled {
				color: @panelGray !important;
				background-color: @panelGrayLight !important;
			}

			border-radius: @mainBorderRadius;

			&:focus {
				@colorBorder();
			}

			&.google {
				font-weight: 600;
				color: white;
				background-color: #4285F4;
			}

			&.facebook {
				font-weight: 600;
				color: white;
				background-color: #3C5A99;
			}

			svg {
				margin-right: 6px;
			}
		}
	}
}
