@import "../colors.less";
@import "../AppCommon.less";

.basicSampler {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    .samplesSection {
        display: flex;
        
        .samplesControls {
            width: 64px;
            display: flex;
            align-items: center;
        }

        .samplePads {
            width: 320px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-flow: wrap-reverse;
    
            .sample {
                width: 74px;
                height: 52px;
                border-radius: 4px;
                background-color: @panelGray;
                box-sizing: border-box;
                margin: 2px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid currentColor;
                animation-duration: 0.5s;
    
                &:hover {
                    border-width: 2px;
                }

                &.animate1 {
                    animation-name: colorFade1;
                }

                &.animate2 {
                    animation-name: colorFade2;
                }

                .label {
                    color: @defaultGray;
                    font-size: 13px;
                }
            }
        }
    }

    .controls {
        .knobs {
            display: flex;
            width: 100%;
            justify-content: space-around;
        }
    }

    &.isNotPlaying {
        transition: box-shadow 0.3s ease-out;
    }
}

@keyframes colorFade1 {
    from {
        background-color: currentColor;
    }
  
    to {
        background-color: @panelGray;
    }
}

@keyframes colorFade2 {
    from {
        background-color: currentColor;
    }

    to {
        background-color: @panelGray;
    }
}
