@import "../colors.less";
@import "../AppCommon.less";

.basicSampler {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    .samplesSection {
        display: flex;
        
        .samplesControls {
            width: 64px;
            display: flex;
            align-items: center;
        }

        .samplePads {
            width: 320px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-flow: wrap-reverse;
    
            .sample {
                width: 74px;
                height: 52px;
                border-radius: 4px;
                background-color: @panelGray;
                box-sizing: border-box;
                margin: 2px;
                border: 1px solid currentColor;
                animation-duration: 0.5s;
                position: relative;
    
                &:hover {
                    border-width: 2px;

                    .label {
                        margin: 0px 1px 0px 1px;
                    }
                }

                &.animate1 {
                    animation-name: colorFade1;
                }

                &.animate2 {
                    animation-name: colorFade2;
                }

                .label {
                    .smallFont();
                    color: @defaultGray;
                    font-size: 11px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin: 1px 2px 1px 2px;
                    text-align: left;
                    line-height: initial;
                }

                &.upload-failed::after {
                    position: absolute;
                    color: @red;
                    content: 'failed';
                    animation-name: uploadFailed;
                    animation-duration: 3s;
                    opacity: 0;
                    font-weight: 600;
                    font-size: 1.2em;
                    pointer-events: none;
                    background-color: @panelGrayDark;
                    animation-timing-function: linear;
                    z-index: 999999;
                    padding: 8px;
                    border-radius: @mainBorderRadius;
                    border: 1px @red solid;
                }

                .sampleFileForm {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;

                    .sampleDropZone {
                        width: 100%;
                        height: 100%;
                    }

                    .sampleFileInput {
                        visibility: hidden;
                        position: absolute;
                        opacity: 0;
                        display: none;
                    }
                }

                .dragOverMessage {
                    visibility: hidden;
                    width: 100%;
                    height: 100%;
                }

                &.drag-over .dragOverMessage {
                    visibility: visible !important;
                    pointer-events: none;
                }
            }
        }
    }

    .controls {
        .knobs {
            display: flex;
            width: 100%;
            justify-content: space-around;
        }
    }

    &.isNotPlaying {
        transition: box-shadow 0.3s ease-out;
    }
}

@keyframes colorFade1 {
    from {
        background-color: currentColor;
    }
  
    to {
        background-color: @panelGray;
    }
}

@keyframes colorFade2 {
    from {
        background-color: currentColor;
    }

    to {
        background-color: @panelGray;
    }
}

@keyframes uploadFailed {
    from {
        opacity: 1;
        top: 0;
    }

    to {
        opacity: 0;
        top: -40px;
    }
}
