@import "../colors.less";
@import "../AppCommon.less";

.noteResizer {
	pointer-events: none;

	.resizeHandle {
		pointer-events: all;
		height: 100%;
		fill: none;
		stroke: none;
					
		.ctrl-true.alt-true & {
			pointer-events: none;
		}

		&.left, &.right {
			margin-top: -1px;
			margin-bottom: -1px;

			.ctrl-true & {
				cursor: auto !important;
			}
		}

		.moving-false &.left {
			margin-left: -1px;
			@leftBracketCursor();
		}

		.moving-false &.right {
			margin-right: -1px;
			@rightBracketCursor();
		}

		&.mid {
			margin-top: -1px;
			margin-bottom: -1px;
		}
	}
}
