@import "../colors.less";
@import "../AppCommon.less";

@rightRadius: {
	border-bottom-right-radius: 8px;
}

@zoomBarWidth: 36px;
@notesWidth: 16px;
@noteNameFont: {
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
}

.betterSequencer {
	.controls {
		display: flex;

		.buttons {
			width: 32px;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			color: @defaultGray;
		}

		.knobs, .zoomPanKnobs {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
		}
	}

	.sideNotes {
		position: relative;
		overflow: hidden;
		min-width: @zoomBarWidth + @notesWidth;

		.transformable {
			width: 100%;
			display: flex;

			.leftPanZoom {
				cursor: zoom-in;
				height: 100%;
				width: @zoomBarWidth;
				background-color: @panelGray;
			}

			.rows {
				width: @notesWidth;
				display: flex;
				flex-direction: column-reverse;

				.row {
					// border-bottom: 1px solid @panelGray;
					// box-sizing: border-box;
					// margin: 2px 0;
					margin-bottom: 1px;
					position: relative;

					&::after {
						background-color: @panelGrayDark;
						width: 100%;
						height: 1px;
						content: '';
						position: absolute;
						left: 0;
  					bottom: -1px;
					}
					
					&.white {
						background-color: @defaultGray;
	
						&.animate-off {
							.colorFadeAnimation(BSKeyFadeWhite, currentColor, @defaultGray);
						}
					}
	
					&.black {
						background-color: @panelGrayDark;
	
						&.animate-off {
							.colorFadeAnimation(BSKeyFadeBlack, currentColor,  @panelGrayDark);
						}
					}
	
					&.animate-on {
						background-color: currentColor;
					}
	
					.rowLabel {
						.largeFont();
						@noteNameFont();
						display: flex;
						align-items: center;
						opacity: 0;
						@leftPadding: 4px;
						padding-left: @leftPadding;
						position: absolute;
						left: -@zoomBarWidth;
						pointer-events: none;
						color: @knobValueGray;
						width: @zoomBarWidth - @leftPadding;
						border-bottom: 1px solid @panelGrayDark;
						min-height: 16px;
						bottom: -1px;
						box-shadow: -4px -4px 4px 0px @panelGray;
					}
	
					&:hover {
						.rowLabel {
							opacity: 1;
						}
					}
				}
			}
		}
	}

	.editor {
		flex-grow: 1;
		position: relative;
		overflow: hidden;

		.translatable {
			width: 100%;
			height: 100%;
		}

		.rows {
			position: absolute;
			width: 100%;
			height: 100%;
			@rightRadius();
			overflow: hidden;
			z-index: 6;

			.scalable {
				width: 100%;
				// height: 100%;
				display: flex;
				flex-direction: column-reverse;
				// will-change: transform;

				.row {
					border-bottom: 1px solid @panelGray;
					box-sizing: border-box;
				}
			}
		}

		.columns {
			position: absolute;
			width: 100%;
			height: 100%;
			@rightRadius();
			overflow: hidden;
			z-index: 8;

			.timeBar {
				position: absolute;
				top: 0;
				height: 100%;
				width: 1px;
				background-color: @defaultGray;
			}

			.scalable {
				display: flex;
				width: 100%;
				height: 100%;
				white-space: nowrap;
				// will-change: transform;

				.column {
					height: 100%;
					display: inline-block;
					color: #4446;

					&:nth-child(4n+1) {
						color: #6666;
					}

					&:nth-child(8n+1), &:nth-child(8n+2), &:nth-child(8n+3), &:nth-child(8n+4) {
						background-color: hsla(0, 0%, 0%, 0.08);
					}

					.line {
						background-color: currentColor;
						width: 1px;
						height: 100%;
					}
				}

				.farRightColumn {
					width: auto;
					height: 100%;
					background-color: hsla(0, 0%, 0%, 0.24);
					display: inline-block;
					flex-grow: 1;
				}
			}
		}

		.notes {
			position: absolute;
			width: 100%;
			height: 100%;
			@rightRadius();
			overflow: hidden;
			z-index: 10;

			&.resizing-left {
				@leftBracketCursor();
			}

			&.resizing-right {
				@rightBracketCursor();
			}

			&.moving-true {
				@grabbingCursor();
			}

			&.cloning-true {
				@grabbingCursor();
			}

			.ctrl-true.alt-true & {
				@grabCursor();
			}

			.scalable {
				position: relative;
				width: 100%;
				height: 100%;
				white-space: nowrap;
				// will-change: transform;

				.note {
					position: absolute;
					background-color: currentColor;
					border-radius: 1px;
					border: 2px solid @panelGrayDark;
					box-sizing: border-box;
					margin-bottom: 1px;
					min-width: 1px;
					// border-top: none;
					// border-bottom: none;

					.zoomCloser & {
						border-width: 1px;
					}
					
					.ctrl-true.alt-true & {
						pointer-events: none;
					}

					&.selected-true {
						border-color: @defaultGray;
					}

					.noteLabel {
						.largeFont();
						@noteNameFont();
						color: @panelGrayDark;
						text-align: left;
						line-height: normal;
						padding-left: 8px;
						height: 104%;
						display: flex;
						align-items: center;
						pointer-events: none;
						overflow: hidden;
					}
				}
			}
		}
	}
}
