@import "../AppCommon.less";
@import "../colors.less";

.welcomeModal {
	width: 800px;
	
	.modalSection {
		width: 100%;

		.modalSectionLabel {
			color: @brightBlue;
		}
	}
	.modalSectionContent {
		display: flex;
		flex-wrap: wrap;
		padding: 64px 16px !important;

		& > * + * {
			margin-top: 64px;
		}

		& > .first {
			width: 100%;
		}

		& > .left, & > .right {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 50%;
		}

		.name {
			justify-content: center;
			display: flex;
			align-items: center;
			font-size: 16px;

			label {
				background-color: @panelGrayLight;
				height: 32px;
				display: flex;
				align-items: center;
				padding: 0 8px;
				border-top-left-radius: @mainBorderRadius;
				border-bottom-left-radius: @mainBorderRadius;
			}

			input {
				border-top-left-radius: 0 !important;
				border-bottom-left-radius: 0 !important;
			}
		}
		.roomActions {
			width: 160px;

			button {
				width: 100%;
			}
		}
		.links {
			width: 160px;
		}
	}
}
