@import '../colors.less';
@import '../AppCommon.less';

.react-contextmenu {
	background-color: @panelGray;
	min-width: 32px;
	max-width: 512px;
	min-height: 32px;
	display: none;
	.boxShadow();

	&.react-contextmenu--visible {
		display: block;
	}

	&.deleteSubMenu {
		top: 100% !important;
		left: 32px !important;

		&.deleteSubMenu-first {
			top: 0 !important;
			left: 100% !important;
		}

		&.deleteSubMenu-last {
			background-color: @orange;
	
			.react-contextmenu-item {
				&:hover {
					background-color: @red;
				}
				&:active {
					background-color: @brightRed;
				}
			}
		}
	}

	.contextMenuTop {
		height: 16px !important;
		background-color: @overlayGray;
		font-size: 0.7em;
		font-weight: 400;
		box-shadow: 0 1px 1px rgb(24, 24, 24);
		justify-content: center;

		&:hover, &:active {
			background-color: @overlayGray !important;
		}
	}

	.react-contextmenu-item {
		height: 32px;
		text-align: left;
		display: flex;
		align-items: center;
		padding: 0 8px;
		white-space: nowrap;
		// overflow: hidden;

		&:hover {
			background-color: @gray3;
		}

		&:active {
			background-color: @blue;
		}
	}
}
