@import "../colors.less";

.panelContainer{
    width: 100%;
    height: 100%;

    .panel {
        position: relative;
        display: flex;
        background-color: @panelGray;
        width: 100%;
        height: 100%;

        .simpleGraph & {
            margin: 0;
        }

        .isometricBoxShadow {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -2;
            box-shadow: currentColor -1px 1px, currentColor -2px 2px;
            .saturate & {
                filter: saturate(300%);
            }
        }
    }
}
