@import "../colors.less";

.optionsBG {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: @overlayGray;
	z-index: 2;
	margin: 0 !important;
}

.optionsPanel {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #282832;
	padding: 16px;
	user-select: text;
	z-index: 20;
}
