.connection {
    svg {
        position: absolute;
        overflow: visible;
        filter: drop-shadow(0 0 2px #181818);
    }

    .connector {
        z-index: 0;
        stroke: currentColor;

        &:hover {
            filter: saturate(300%);
        }
        &:active {
            cursor: grabbing;
            filter: saturate(400%);
        }

        &.newConnectionPlaceholder {
            opacity: 0 !important;
            &:hover {
                opacity: 0.75 !important;
            }
            &.newConnectionPlaceholder-visible {
                opacity: 0.5 !important;
            }
        }

        .placeHolderConnectorHitBox {
            &:hover {
                stroke: red;
            }
        }
    }

    .longLine {
        z-index: -15;

        g {
            pointer-events: all;

            &:not(:hover) {
                .blurLine {
                    stroke: #0000;
                }
            }

            .blurLine {
                filter: url(#saturate);
            }
        }
    }
}

path.animatedLongLine {
    animation-name: dash;
    // animation-duration: 60s;
    animation-duration: inherit;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes dash {
    to {
        stroke-dashoffset: -1000;
    }
}
