@import '../../colors.less';
@import '../../AppCommon.less';

.textField {
	input {
		background-color: @panelGrayDark;
		border-radius: @mainBorderRadius;
		box-shadow: none !important;
		border: none;
		padding: 4px 8px;
		color: @defaultGray;
		font-family: inherit;

		&:focus {
			@colorBorder();
		}
	}
}
