@import "../colors.less";
@import "../AppCommon.less";

.loadRoomUI {
	.saves {
		margin-top: 16px;
		
		.localSave, .noSaves {
			margin: 16px 0;
			display: flex;
			flex-wrap: nowrap;
			white-space: nowrap;
			align-items: center;
			height: 32px;
			justify-content: center;

			button {
				font-size: 1em;
			}
		}
	}
}
