@import "../colors.less";
@borderGray: rgb(65, 65, 77);
.gridSequencer {
    .isNotPlaying& {
        transition: box-shadow 0.3s ease-out;
    }

    .controls {
        width: 32px;
        margin: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        letter-spacing: 0;
        font-size: 24px;
        color: @defaultGray;
    }
    .events {
        display: flex;
        justify-content: space-between;

        .event {
            min-width: 16px;
            max-width: 32px;
            min-height: 48px * 2;
            max-height: 256px;
            margin: 0px 0;
            display: flex;
            flex-direction: column-reverse;
            &:first-child {
                margin-left: 0;
            }
            &.active {
                filter: brightness(120%)
            }
            &.active:nth-child(odd) {
                filter: brightness(120%)
            }
            &:nth-child(odd) {
                filter: brightness(110%)
            }
            .note {
                height: 8px;
                width: 16px;
                &.white {
                    background-color: @gray2;
                }
                &.black {
                    background-color: @panelGray;
                }
                &:hover {
                    background-color: currentColor;
                    filter: brightness(60%)
                }
                &.on {
                    background-color: currentColor;
                    &:hover {
                        filter: saturate(300%)
                    }
                }
                &:active,
                &.active {
                    filter: saturate(300%)
                }
                &.on:active {
                    filter: saturate(50%)
                }
            }
        }
    }
}
