@import "../colors.less";

@borderGray: rgb(65, 65, 77);

.gridSequencer {
    max-width: 576px;

    .isNotPlaying& {
        transition: box-shadow 0.3s ease-out;
    }

    .controls {
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        justify-content: space-around;
        align-items: center;
        font-size: 24px;
        color: @defaultGray;
        flex-wrap: wrap;
        flex-grow: 1;
        max-width: 48px * 2px;
        min-width: 48px;
        
        & > * {
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    
    .events {
        display: flex;
        justify-content: space-between;

        .event {
            min-width: 16px;
            max-width: 32px;
            min-height: 48px * 2;
            max-height: 256px;
            margin: 0px 0;
            display: flex;
            flex-direction: column-reverse;
            &:first-child {
                margin-left: 0;
            }
            &.active {
                filter: brightness(120%)
            }
            &.active:nth-child(odd) {
                filter: brightness(120%)
            }
            &:nth-child(odd) {
                filter: brightness(110%)
            }
            .note {
                height: 8px;
                width: 16px;
                &.white {
                    background-color: @gray2;
                }
                &.black {
                    background-color: @panelGray;
                }
                &:hover {
                    background-color: currentColor;
                    filter: brightness(60%)
                }
                &.on {
                    background-color: currentColor;
                    &:hover {
                        filter: saturate(300%)
                    }
                }
                &:active,
                &.active {
                    filter: saturate(300%)
                }
                &.on:active {
                    filter: saturate(50%)
                }
            }
        }
    }
}
