.keyboard {
    display: inline-flex;
    margin-bottom: 16px;
    background-color: #EBEBF6;
    letter-spacing: normal;
    height: 64px;
    .white {
        background-color: #EBEBF6;
        color: #31313d;
    }
    .black {
        background-color: #282832;
        color: rgba(235, 235, 246, 0.925);
    }
    &.isLocal {
        .white:hover {
            background-color: rgb(198, 198, 223);
        }
        .black:hover {
            background-color: #424258;
        }
    }
    .key {
        width: 32px;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .octave {
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .octaveNumber {
            color: #EBEBF6;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: end;
        }
        .octaveKeys {
            flex-direction: row;
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-size: 0.8em;
            * {
                margin: 0 8px;
            }
        }
    }
    .smallText {
        text-transform: none;
        font-weight: 100;
        font-size: 0.8em;
    }
    .white .smallText {
        color: #a0a0ab;
    }
    .black .smallText {
        color: #8C8C99;
    }
}
