@import "../colors.less";

.infiniteSequencer {
	.panel {
		width: 576px;
		min-height: 56px;

		.controls {
			width: 32px;
			display: flex;
			flex-direction: column;
            justify-content: space-around;
			align-items: center;
            font-size: 24px;
			margin: 8px;
			
			& > * {
				margin: 16px;
			}
		}

		.display {
			display: flex;
			flex-direction: row;
			flex-grow: 1;

			.event {
				min-width: 48px;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				&:nth-child(odd) {
					background-color: #31313d;
				}

				&:nth-child(even) {
					background-color: #282832;
				}
			}
		}
	}
}
