@import "../colors.less";

.basicSampler {
    display: inline-flex;
    padding: 0 8px;

    .samplerLabel {
        margin: auto 8px;
    }

    &.isNotPlaying {
        transition: box-shadow 0.3s ease-out;
    }
}
