@import "./colors.less";
body {
    background-color: #121621;
    overflow-x: hidden;
}

#react-app {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em;
    color: #CDCBE1;
    font-weight: 600;
    line-height: 1.2em;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#title {
    text-align: center;
    position: absolute;
    margin: 24px 0px;
    width: 100%;
    font-size: 1.6em;
    color: #CDCBE1;
    animation-duration: 1s;
    animation-name: title-slidedown;
}

@keyframes title-slidedown {
    from {
        top: -48px
    }
    to {
        top: 0
    }
}

.clientId {
    margin: 4px;
}

.boardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    transition: all 0.5s ease;
    flex-wrap: wrap;
    align-content: center;
}

.board {
    /* height: 80px; */
    margin: 0 24px;
    animation-duration: 1s;
    animation-name: boardSlideIn;
    &.disconnecting {
        animation-fill-mode: forwards;
        animation-duration: 1s;
        animation-name: boardSlideOut;
    }
}

#info {
    text-align: center;
    position: absolute;
    margin: 8px 0px;
    width: 100%;
    font-size: 0.8em;
    bottom: 0px;
    color: #CDCBE1;
    animation-duration: 1s;
    animation-name: info-slideup;
}

@keyframes info-slideup {
    from {
        bottom: -24px
    }
    to {
        bottom: 0
    }
}

@keyframes boardSlideIn {
    from {
        height: 0;
        margin-left: 200%;
        width: 300%;
    }
    to {
        width: 100%;
    }
}

@keyframes boardSlideOut {
    from {
        width: 100%;
    }
    to {
        height: 0;
        margin-right: 200%;
        width: 300%;
    }
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
