@import "./colors.less";
@import "./AppCommon.less";

body {
    background-color: @appBackground;
    overflow: auto;
    .unselectable();
}

#react-app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: @defaultGray;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    // text-transform: lowercase;
    text-align: center;
    letter-spacing: 2px;
    .textShadow()
}

* {
    font-family: inherit;
}

#title {
    text-align: center;
    position: absolute;
    margin: 24px 0px;
    width: 100%;
    font-size: 1.6em;
    color: @defaultGray;
    animation-duration: 1s;
    animation-name: title-slidedown;
}

@keyframes title-slidedown {
    from {
        top: -48px
    }
    to {
        top: 0
    }
}

*:focus {
    outline: none;
}

a {
    color: inherit;

    &:hover {
        filter: brightness(125%)
    }
}

#mainBoards {
    z-index: 0;
    margin: auto;
    position: relative;
}

.boardRow {
    display: flex;
    justify-content: center;
    width: 1296px;
    margin: auto;
    margin-top: 36px;
}

.board {
    // margin: 8px 24px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    min-width: 600px;
}

#info {
    z-index: 0;
    pointer-events: none;
    height: 56px;
    flex-shrink: 0;
}

.unselectable {
    user-select: none;
}

.colorTransition {
    transition: color 0.3s ease-out;
}

.transitionAllColor {
    transition: color 0.3s ease-out, background-color 0.3s ease-out, border-color 0.3s ease-out, box-shadow 0.3s ease-out, filter 0.3s ease-out;
}

.label {
    text-shadow: 0 0 16px @darkTextShadow;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;

    .isPlaying& {
        filter: saturate(300%);
    }
}

.saturate {
    .colorize {
        .saturate.colorize()
    }
}

.highlight {
    filter: brightness(2)
}

.handle.handleVisual {
    cursor: grab;
    
    &:hover {
        filter: brightness(2)
    }
    &:active {
        cursor: grabbing;
        filter: brightness(3)
    }
}

.saturate.colorize {
    filter: saturate(300%);
}

.play {
    &:hover,
    .isPlaying&,
    .isPlaying & {
        color: @green;
    }
    &:active {
        color: @brightGreen;
    }
}
.stop {
    &:hover {
        color: @red;
    }
    &:active {
        color: @brightRed;
    }
}
.restart {
    &:hover {
        color: @purple;
    }
    &:active {
        color: @brightPurple;
    }
}
.export {
    &:hover {
        color: @blue;
    }
    &:active {
        color: @brightBlue;
    }
}
.record {
    &:hover,
    .isRecording&,
    .isRecording & {
        color: @red;
    }
    &:active {
        color: @brightRed;
    }
}
.erase {
    &:hover {
        color: @red;
    }
    &:active {
        color: @brightRed;
    }
}
.undo {
    &:hover {
        color: @blue;
    }
    &:active {
        color: @brightBlue;
    }
}
.style {
    &:active {
        filter: saturate(2);
    }
    svg:hover {
        path {
            fill: url(#rainbow);
        }
    }
}
.showRows {
    &:hover {
        color: @blue;
    }
    &:active {
        color: @brightBlue;
    }
}

svg {
    filter: drop-shadow(@shadow);
}

.disabled {
    filter: brightness(0.5);
    pointer-events: none;
}
