@import "./colors.less";

#chat {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .spacing();
    z-index: 0;
    // padding: 8px;
    background-color: rgba(20, 20, 24, 0.6);
    overflow: hidden;
    word-wrap: break-word;
    // border: 2px solid @panelGray;
    // font-size: 0.8em;

    &.focused {
        z-index: 1;
        user-select: text;
    }

    #chatMessages {
        padding: 0 8px 0 8px;
        opacity: 0.5;

        .focused& {
            opacity: 1;
        }
    
        li {
            text-align: left;
            z-index: 0;
            pointer-events: none;

            .selectable {
                width: fit-content;
                max-width: 100%;
                margin-right: auto;
                margin-left: 0;
                cursor: text;

                &:focus {
                    outline: none;
                }

                .author {
                }

                .text {
                    font-weight: initial;
                    text-transform: initial;
                    letter-spacing: initial;
                }
            }

            .focused& {
                pointer-events: all;
            }
        }
    }

    #chatInput {
        position: relative;
        z-index: 1;
        box-sizing: border-box;
        border: none;
        width: 100%;
        margin-top: 8px;
        padding: 6px 8px 6px 8px;
        background-color: @panelGrayTransparent;
        color: inherit;
        font-size: inherit;
        font-family: inherit;
        text-decoration: inherit;
        text-transform: uppercase;
        text-transform: initial;
        resize: none;
        letter-spacing: initial;

        &:focus {
            outline: none;
        }
    }

    .spacing() {
        bottom: 0px;
        top: 0px;
        left: 0px;
        right: 0px;
    }

    .chatGradient {
        position: fixed;
        width: inherit;
        height: inherit;
        .spacing();
        pointer-events: none;
        z-index: 2;
    }

    &.focused #chatVerticalGradient,
    &.focused #chatHorizontalGradient {
        background: none;
    }

    #chatVerticalGradient {
        background: linear-gradient(
            to bottom,
            @appBackground, 
            transparent
          );
    }

    #chatHorizontalGradient {
        background: linear-gradient(
            to left,
            @appBackground, 
            transparent
          );
    }
}
