@import "./colors.less";
@borderGray: #55556B;
.simpleTrack {
    margin: 16px 0;
    display: inline-flex;
    flex-direction: column;
    .events {
        background-color: @keyDarkGray;
        display: flex;
        justify-content: space-between;
        margin: 4px 0 16px 0;
        max-width: 400px;
        .event {
            width: 80px;
            height: 256px;
            border: 2px solid @borderGray;
            margin: 8px;
            display: flex;
            flex-direction: column-reverse;
            &.active {
                border-color: rgb(191, 83, 64);
            }
            .note {
                height: 100%;
                background-color: @keyDarkGray;
                &:hover {
                    background-color: rgb(51, 80, 52);
                }
                &.on {
                    background-color: rgb(64, 191, 66);
                }
                &.on:hover {
                    background-color: rgb(81, 158, 83);
                }
                &:active,
                &.on:active {
                    background-color: rgb(54, 209, 62);
                }
            }
        }
    }
}
