@import "./colors.less";
@borderGray: #55556B;
.simpleTrack {
    margin: 16px 0;
    display: inline-flex;
    flex-direction: column;
    .noteCells {
        background-color: @keyDarkGray;
        display: flex;
        justify-content: space-between;
        margin: 4px 0 16px 0;
        .noteCell {
            width: 80px;
            height: 20px;
            background-color: @keyDarkGray;
            border: 2px solid @borderGray;
            margin: 8px;
            &:hover {
                background-color: rgb(51, 80, 52);
            }
            &.on {
                background-color: rgb(64, 191, 66);
            }
            &.on:hover {
                background-color: rgb(81, 158, 83);
            }
            &:active,
            &.on:active {
                background-color: rgb(54, 209, 62);
            }
            &.active {
                border-color: rgb(191, 83, 64);
            }
        }
    }
}
