@import "../colors.less";

.buttonContainer {
    &.fancyButton {
        &:hover {
            .isometricBoxShadow, button {
                filter: brightness(125%)
            }
        }

        &:active {
            top: 1px;
            left: -1px;
    
            .isometricBoxShadow {
                top: -1px;
                left: 1px;
            }
        }
    }

    &.flatButton {
        &:hover {
            background-color: @panelGrayLight;
        }

        &:active {
            background-color: @blue;
        }
    }

    button {
        position: relative;
        background-color: transparent;
        border: none;
        padding: 7px 8px 9px 8px;
        font-size: 16px;
        text-transform: inherit;
        font-weight: inherit;
        font-family: inherit;
        letter-spacing: inherit;
        color: currentColor;
        text-shadow: inherit;
        height: 36px;
    }
}
